/****************************************
* リセットCSS
*****************************************/
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	letter-spacing: 1.5px;
	line-height: 1.5;
}
img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}

/****************************************
* ヘッダー
*****************************************/

.header_inner {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.header_logo {
    padding: 20px 35px;
}
/* ハンバーガーメニュー */
/*==================================================
　5-2-7 3本線が奥行きを持って回転して×に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn7{
    position: fixed;/*ボタン内側の基点となるためrelativeを指定*/
    z-index: 9999;
    cursor: pointer;
    width: 50px;
    height:50px;
    border-radius: 5px;
    margin-right: 35px;
    top: 20px;
    right: 10px;
  }
  
  /*ボタン内側*/
  
  .openbtn7 .openbtn-area{
      transition: all .4s;
  }
  
  .openbtn7 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 2px;
      border-radius: 2px;
    background: #000;
      width: 60%;
    }
  
  
  .openbtn7 span:nth-of-type(1) {
    top:15px; 
  }
  
  .openbtn7 span:nth-of-type(2) {
    top:23px;
  }
  
  .openbtn7 span:nth-of-type(3) {
    top:31px;
  }
  
  /*activeクラスが付与されると
  線と周りのエリアが回転して×になる*/
  
  .openbtn7.active .openbtn-area{
    transform: rotateY(-360deg);
  }
  
  .openbtn7.active span:nth-of-type(1) {
      top: 18px;
      left: 10px;
      transform: translateY(6px) rotate(-135deg);
      width: 60%;
    background-color: #fff;

  }
  
  .openbtn7.active span:nth-of-type(2) {
    opacity: 0;
    background-color: #fff;

  }
  
  .openbtn7.active span:nth-of-type(3){
      top: 30px;
      left: 10px;
      transform: translateY(-6px) rotate(135deg);
      width: 60%;
    background-color: #fff;
  }

/* チェックボックスは非表示 */
#sidemenu {
    display: none;
}
#modal:checked ~ .modal {
    display: none;
}
#modal:checked ~ #window {
    left: -100%;
}
/* モーダル上でクリックした時モーダルを非表示にする */
#modal:checked ~ .modal {
    display: none;
}
/* モーダル上でクリックした時サイドメニューをしまう */
#modal:checked ~ #window {
    left:-100%;
    opacity: 0;
}
/* .switch:checked ~ #modal {
    display: none;
}
.switch:checked ~ #sidemenu {
    left: -100%;
} */

/* モーダル */
.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.5);
}
/* クリックした時モーダルを表示 */
#sidemenu:checked ~ .modal {
    display: block;
}
/* 横からメニュー画面 */
#window {
    position: fixed;
    top: 0;
    left: -100%;
    width: 25%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    transition: all 0.7s;
    z-index:501;
    padding: 50px 30px;
}
/* クリックした時横からメニュー画面を表示 */
#sidemenu:checked ~ #window {
    left: 0;
    opacity: 1;
}
.window_contents {
    margin-bottom: 50px;
}
.window_contents li {
    padding: 20px 0px;
    border-top: 1px solid #fff;

}
.window_contents a{
    color: #fff;
    position: relative;
}
.a_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.window_contents li:nth-of-type(3) {
    border-bottom: 1px solid #fff;
}
.sns_contents a{
    color: #fff;
    padding: 3px;
}


/****************************************
* メイン
*****************************************/
.fv {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}
.contents {
    padding-bottom: 50px;
}
.contact {
    background-color: #121212;
    color: #ffffff;
    padding:0;

}
.contents_title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 30px 0px;
}
/* ピックアップ(pick up) */
.slider_img {
    padding: 0 30px;
}
/* フィーチャー(feature) */
.feature {
    padding: 30px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 30px;

}
.feature_item {
    box-shadow: 0 0 10px grey;
}
.feature_item_img {
    width: 100%;
    height: auto;
    opacity : 0;
    transform : translate(0, 30px);
  transition: all 1500ms;
}
.feature_item_img.view {
    opacity: 1;
    transform : translate(0, 0px);
}
.item_des {
    padding: 20px;
}
.item_des p:nth-child(1),.item_des p:nth-child(2) {
    margin-bottom: 20px;
}
.item_des p:nth-child(3) {
    text-align: right;
}
/* コンタクト(contact) */
.contact_box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 30px 30px;
}
.contact_item {
    width: 50%;
}
.contact_item_des {
    padding-right: 30px;
}
.contact_item_form {
    padding-left: 30px;
}
.contact_des {
    margin-bottom: 30px;
}
.text_box {
    margin-bottom: 30px;
}
.name_input,.mail_input {
    width: 100%;
    height: 45px;
    background-color: #ffffff;
}
.message_input {
    width: 100%;
    height: 70px;
    background-color: #ffffff;

}
.send_box {
    display: inline-block;
    position: relative;
    border: 1px solid #ffffff;
    padding: 10px 40px;
}
.send_box:hover {
    background-color: #fff;
    color: #000;
}
.send {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.copyright {
    text-align: center;
    font-size: 0.6px;
}

/****************************************
* レスポンシブ対応
*****************************************/
@media screen and (max-width:600px) {
    .openbtn7 {
        right: -10px;
    }
    #window {
        width: 75%;
    }
    .feature_item {
        margin-bottom: 20px;
    }
    .wrapper {
        display: block;
    }    
    .contact_box {
        display: block;
    }
    .contact_item {
        width: 100%;
        padding:0;
    }
    .contact_des {
        display: inline-block;
        width: 100%;
    }
    .send_wrapper {
        text-align: center;
    }
}
